*{
    font-family: nu, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;   
    padding: 0;  
}

h1, p{
    margin: 0;
}


body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}

.div_central{
    width: 60%;
    height: 50%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.box{
    width: 325px;
    height: 90%;
    border-radius: 20px;
    background-color: #e5a1ae;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
input{
    border-radius: 25px;
    width: 325px;
    height: 40px;
    font-size: 18px;
}

select{
    border-radius: 25px;
    width: 160px;
    height: 40px;
    font-size: 18px;
}

.escolha1{
    border-radius: 25px;
    width: 325px;
    height: 40px;
    font-size: 18px;
    background-color: #4f603e;
    color: white;
}

.escolha2{
    border-radius: 25px;
    width: 325px;
    height: 40px;
    font-size: 18px;
    background-color: #84a266;
    text-decoration-color: white;
    color: white;
}

.dados{
    justify-content: space-between;
    width: 325px;
}