*{
    font-family: Nunito, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;   
    padding: 0;  
}

body{
    display: flex;
}

header{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #e5a1ae;
	padding: 0;
}


.menu_home {
    background-color: #4f603e;
    width: 80px;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_real{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_conta{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    width: 41px;
    height: 37px;
}

#unilink{
    font-size: 30px;
    color: white;
}
.organizador{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}
.principal{
    width: 100%;
    height: 100%;
}
.menu_home {
    background-color: #4f603e;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 20px;
}

.menu_real,
.menu_conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    width: 41px;
    height: 37px;
}

#unilink {
    font-size: 30px;
    color: white;
}
.organizador {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
}
.conversations-panel {
    width: 950px;
    border-right: 1px solid #E0E0E0;
    flex-shrink: 0;
    padding: 20px 0;
}
.conversations-title {
    font-size: 1.5em;
    font-weight: 700;
    color: #333333;
    padding: 0 20px 15px 360.6px;
    margin-bottom: 5px;
}
.conversation-item {
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
.conversation-item.active {
    background-color: #fcfcfc;
}
.user-avatar {
    width: 99.8px;
    height: 99.8px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
    background: url('img/ciclano.png') center/cover no-repeat;
}
.conversation-details {
    flex-grow: 1;
    overflow: hidden;
}
.conversation-user {
    font-size: 1.5em;
    font-weight: 700;
    color: #333333;
}
.conversation-last-message {
    font-size: 1.5em;
    color: #333333;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-status {
    width: 20px;
    height: 15px;
    margin-right: 20px;
    flex-shrink: 0;
    background: url('img/mensagemrecebida.png') center/contain no-repeat;
}
.conversation-time {
    font-size: 1.5em;
    color: #333333;
    flex-shrink: 0;
}
.message-viewer-panel {
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
	width: 910px;
}
.icon-large-mail {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    opacity: 0.3;
	background: url('img/dm_icon2.png') center/contain no-repeat;
    background-size: contain; 
    display: block;
}

