*{
    font-family: Nunito, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;   
    padding: 0;  
}

body{
    display: flex;
}

header{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #e5a1ae;
}

.menu_home {
    background-color: #4f603e;
    width: 80px;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_real{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_conta{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    width: 41px;
    height: 37px;
}

#unilink{
    font-size: 30px;
    color: white;
}
.organizador{
  width: 100%;
  height: 100%;
  display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}
.principal{
  width: 99%;
  height: 100%;
  display: flex;
  
}

.publicar_box{
    width: 20%;
    height: 100%;
    display: flex; 
    justify-content: end;
    align-items: center;
    flex-direction: column;
    
}

.publicar_post{
   width: 100%;
    
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.post{
    height: 60%;
    width: 100%;
    border-radius: 7px;
}

.atributos{
    display:flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}
.arquivo{
    width: 48%;
    height: 30px;
    background-color: gray;
    border-radius: 20px;
    
}

.arquivo img{
    width: 25px;
    height: 25px;
}

.postar_botao{
    width: 100%;
    height: 30px;
    background-color: cadetblue;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.timeline{
    width: 60%;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    margin-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    flex-direction: column;
}

.stories{
    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
}
.seu_story{
    width: 81px;
    height: 85px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}


.seu_story img{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.seu_story button{
    width: 90%;
    height: 16px;
    padding: 0;
    background-color: #4f603e;
    color: white;
    border-radius: 4px;
    align-items: center;
}

.ciclano_story{
    width: 75px;
    height: 75px;
    border-radius: 100px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.ciclano_story img{
    width: 71px;
    height: 71px;
}

.filtro_box{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtro{
    padding: 10px;
    background-color: palevioletred;
    width: 30%;
    height: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtro p{
    margin: 0px;
    font-size: 16px;

}

.filtro button{
    height: 20px;
    width: 30px;
    border-radius: 100px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}


.foto_e_adicionar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.foto_e_adicionar button{
    width: 25px;
    height: 25px;
    background-color: #00000000;
    border: #00000000;
    padding: 0;
}

.adicionaramigo{
    width: 25px;
    height: 25px;
}

.foto_perfil{
    width: 60px;
    height: 60px;
    border-radius: 100px;
}

.post_1, .post_2, .post_3{
    width: 100%;
    display: flex;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
}

.corpo_do_post{
    padding-left: 10px;
    width: 100%;
}

.corpo_do_post p{
    margin: 0px;
    
    font-size: 18px;
}

.curtir_box{
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.curtir_box button{
        background-color: #00000000;
    border: #00000000;
}

.emprego_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}

.estrelas{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.estrelas button{
    background-color: #00000000;
    border: #00000000;
}

.emprego_box button{
    padding-left: 10px;
    background-color: cornflowerblue;
    height: 30px;
    width: 30%;
    border-radius: 10px;
}

.eventos{
    align-items: center;
}

.evento{
    display: flex;
    width: 100%;

}

.evento p{
    font-size: 14px;
}

.evento button{
    width: 100%;
    background-color: yellow;
}

.corpodoevento{
    padding-left: 10px;
}

.proxeventos{
    text-align: center;
}


#camera-container {
    position: fixed; /* Fixa na tela */
    top: 0;
    left: 0;
    width: 100vw; /* Largura total */
    height: 100vh; /* Altura total */
    background: black; /* Fundo preto enquanto a câmera carrega */
    display: flex; /* Pra centralizar o botão depois */
    justify-content: center;
    align-items: flex-end; /* Alinha o botão na parte de baixo */
    z-index: 1000;
}

.hidden {
    display: none !important;
}

#video-stream {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz o vídeo preencher a tela sem distorcer, tipo modelo! */
}

#close-btn {
    position: relative; /* Fica por cima do vídeo */
    margin-bottom: 5vh; /* Afasta um pouco do rodapé */
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ff4d4d; /* Vermelhinho pra chamar atenção */
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1001; /* Garante que fique acima do vídeo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

