.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    gap: 20px;
}

.profile-card {
    background-color: #1140af;
    color: white;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    gap: 25px;
    width: 90%;
    height: 70%;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Nunito', sans-serif;
}

.profile-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 30px;
}

.profile-avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-left h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 2px;
}

.profile-left p {
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 2px;
}

.profile-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.profile-right h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.profile-right p {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 500;
    margin-top: 5px;
}

.profile-right ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 5px 0 0 0;
}

.profile-right li {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 8px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
}

.btn-reject,
.btn-accept {
    border: none;
    border-radius: 50px;
    width: 180px;
    height: 80px;
    font-size: 2.2rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.btn-reject:hover,
.btn-accept:hover {
    transform: scale(1.05);
}

.btn-reject {
    background-color: #D9534F;
}

.btn-accept {
    background-color: #39ce39;
}