*{
    font-family: Nunito, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;   
    padding: 0;  
}

body{
    display: flex;
}

header{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #e5a1ae;
	padding: 0;
}


.menu_home {
    background-color: #4f603e;
    width: 80px;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_real{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_conta{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    width: 41px;
    height: 37px;
}

#unilink{
    font-size: 30px;
    color: white;
}
.organizador{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}
.principal{
    width: 100%;
    height: 100%;
}
.menu_home {
    background-color: #4f603e;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 20px;
}

.menu_real,
.menu_conta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    width: 41px;
    height: 37px;
}

#unilink {
    font-size: 30px;
    color: white;
}
.organizador {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-content {
    display: flex;
    gap: 50px;
    width: 80%;
    max-width: 900px;
    margin-top: 30px;
}

.profile-info-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
}

.profile-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url('img/beltrana.png') center/cover no-repeat;
    background-color: #f7b78f;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.profile-info-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 20px;
    min-width: 400px;
	align-items: center;
}

.profile-title {
    font-size: 2.2em;
    font-weight: 700;
    color: #333333;
    margin-bottom: 40px;
}

.bio-block {
    margin-bottom: 30px;
}

.bio-title {
    font-size: 1.3em;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
}

.bio-list {
    list-style: disc;
    padding-left: 20px;
    color: #333333;
}

.bio-phrase, .bio-mood {
    font-style: italic;
    font-size: 1.1em;
    color: #333333;
}

.edit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.edit-bio-button {
    padding: 18px 40px;
    font-size: 1.2em;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #4f603e;
    color: #fff;
    transition: background-color 0.2s;
}

