*{
    font-family: Nunito, sans-serif;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, p{
    margin: 0;
}

#mensagemdeerro{
    color: red;
}

.borda-erro {
    border: 2px solid red !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.div_central{
    width: 60%;
    height: 50%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

#box{
    width: 325px;
    height: 90%;
    border-radius: 20px;
    background-color: #e5a1ae;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

/* INPUT GERAL */
input{
    border-radius: 25px;
    width: 325px;
    height: 40px;
    font-size: 18px;
}


#box input {
    width: 100%;
}


.input-com-icone {
    position: relative;
    width: 325px;
}



.icone-senha {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #4f603e;
    font-size: 18px;
    z-index: 10;
}

select{
    border-radius: 25px;
    width: 160px;
    height: 40px;
    font-size: 18px;
}

#escolha1{
    border-radius: 25px;
    width: 325px;
    height: 40px;
    font-size: 18px;
    background-color: #4f603e;
    color: white;
}

#escolha2{
    border-radius: 25px;
    width: 325px;
    height: 40px;
    font-size: 18px;
    background-color: #84a266;
    text-decoration-color: white;
    color: white;
}

#dados{
    justify-content: space-between;
    width: 325px;
}
