*{
    font-family: Nunito, sans-serif;
}

html, body {
    height: 100%; 
    margin: 0;   
    padding: 0;  
}

body{
    display: flex;
}

header{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #e5a1ae;
}

.menu_home {
    background-color: #4f603e;
    width: 80px;
    height: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_real{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.menu_conta{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-direction: column;
}

.icon{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
    width: 41px;
    height: 37px;
}

#unilink{
    font-size: 30px;
    color: white;
}
