.principal {
    padding: 0;
    height: 100%;
    display: flex;
}

.container-eventos {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.eventos-coluna,
.eventos-detalhescoluna {
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.eventos-coluna {
    border-right: 1px solid #e0e0e0;
}

.eventos-coluna h2 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}

.lista-eventos {
    flex-grow: 1;
    overflow-y: auto;
}

.item-evento {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #f0f0f0;
}

.item-evento img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info-evento {
    flex-grow: 1;
}

.info-evento p {
    font-size: 1rem;
    font-weight: 700;
    color: #444;
    margin-bottom: 8px;
}

.detalhes-btn{
    background-color: #edd102;
    border: none;
    border-radius: 20px;
    width: 500px;
    padding: 8px 18px;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.detalhes-btn:hover {
    background-color: #FBCB0A;
}

.data-evento {
    font-size: 1rem;
    font-weight: 700;
    color: #555;
}

.criar-evento-form {
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.criar-evento-form input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    border: 3px solid #8b8888;
    border-radius: 8px;
    font-size: 0.95rem;
    box-sizing: border-box;
}

.form-btns {
    display: flex;
    gap: 10px;
}

.btn-icon {
    width: 50px;
    height: 40px;
    background-color: #3b3e42;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-criarevento {
    background-color: #5D9CEC;
    width: 300px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-criarevento:hover {
    background-color: #4a8ad8;
}

.eventos-detalhescoluna {
    align-items: center;
    justify-content: center;
}

.detalhes-placeholder {
    text-align: center;
    color: #888;
}

.placeholder-icon {
    width: 128px;
    height: 128px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.detalhes-placeholder p {
    font-size: 1.1rem;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    border-radius: 20px;
    padding: 8px;
}

.btn-icon img {
    height: 34px;
    width: 34px;
    filter: invert(1);
}